form(class="{{cssClass}}" autocomplete="off")
  header.sheet-header
    .header-row
      .col1
        .game-title
          |  {{ localize 'DIS.DeathInSpace' }}
        .sheet-title
          | {{ localize 'DIS.CharacterSheetTitle' }}
      .col2
        .section-label 
          | {{ localize 'DIS.Section0Name' }} 
        .character-name
          input(class="character-name" type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'DIS.Name' }}" spellcheck="false")

  nav(class="sheet-tabs tabs" data-group="primary")
    a(class="item" data-tab="personal")
      | 1. {{ localize 'DIS.TabPersonal' }}
    a(class="item" data-tab="situation")
      | 2. {{ localize 'DIS.TabSituation' }}
    a(class="item" data-tab="belongings")
      | 3. {{ localize 'DIS.TabBelongings' }}
    a(class="item" data-tab="notes")
      | 4. {{ localize 'DIS.TabNotes' }}
  
  section.sheet-body 

    div(class="tab personal-tab" data-group="primary" data-tab="personal")
      .personal-wrapper 
        .origin-row.item(data-item-id="{{data.data.origin._id}}") 
          .origin-label {{ localize 'DIS.Origin' }} 
          .origin.item-edit.rollable 
            | {{data.data.origin.name}}
          .item-controls 
            | {{#if data.data.origin}}
            a.item-control.item-edit
              i.fas.fa-edit                          
            a.item-control.item-delete
              i.fas.fa-trash
            | {{else}}
            a(class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="origin")
              i.fas.fa-plus
              | {{localize "DIS.Add"}}              
            | {{/if}}
        .regenerate-block 
          a.regenerate
            | {{ localize 'DIS.Regenerate' }}
        .origin-benefit-block
          .title-row
            label {{ localize 'DIS.OriginBenefits' }}
            .item-controls
              a(class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="originBenefit")
                i.fas.fa-plus
                | {{localize "DIS.Add"}}          
          .origin-benefits 
            | {{#each data.data.originBenefits as |item id|}}
            .origin-benefit-row.item(data-item-id="{{item._id}}")
              .origin-benefit-name.item-edit.rollable
                | {{item.name}}
              .item-controls 
                a.item-control.item-edit
                  i.fas.fa-edit                          
                a.item-control.item-delete
                  i.fas.fa-trash
            | {{/each}}
        .stat-block.xp-block
          label {{localize "DIS.XP"}}
          input(type="number" class="stat-input" name="data.xp.value" value="{{data.data.xp.value}}" data-dtype="Number")
        .stat-block.background-block
          label {{localize "DIS.Background"}}
          input(type="text" class="stat-input" name="data.background" value="{{data.data.background}}" data-dtype="String")
        .stat-block.trait-block
          label {{localize "DIS.Traits"}}
          input(type="text" class="stat-input" name="data.trait" value="{{data.data.trait}}" data-dtype="String")
        .stat-block.past-allegiance-block
          label {{localize "DIS.PastAllegiance"}}
          textarea(name="data.pastAllegiance", rows="4") {{data.data.pastAllegiance}}
        .stat-block.drive-block
          label {{localize "DIS.Drive"}}
          input(type="text" class="stat-input" name="data.drive" value="{{data.data.drive}}" data-dtype="String")
        .stat-block.looks-block
          label {{localize "DIS.Looks"}}
          textarea(name="data.looks", rows="4") {{data.data.looks}}
        .stat-block.ability-block
          label {{localize "DIS.Ability"}}
          br
          .ability-col 
            each val in ["body", "dexterity", "savvy", "tech"]
              .ability-row 
                .ability-name.rollable(data-ability=val)=val.toUpperCase()
                .ability-value 
                  input(type="number" class="stat-input" name="data.abilities." + val + ".value" value="{{data.data.abilities." + val + ".value}}" data-dtype="Number" min="-3" max="6")
        .defense-row 
          .defense-text 
            label {{localize "DIS.DefenseRating"}}
            .help-text
              | {{localize "DIS.DefenseRatingHelp"}}
          .defense-value 
            input(type="number" class="stat-input" name="data.defenseRating" value="{{data.data.defenseRating}}" data-dtype="Number")
        .hit-points-row 
          .hit-points-text 
            label {{localize "DIS.HitPoints"}}
            .help-text
              | {{localize "DIS.HitPointsHelp1"}}
              br
              | {{localize "DIS.HitPointsHelp2"}}
          .hit-points-current-col 
            label {{localize "DIS.Current"}}
            input(type="number" class="stat-input" name="data.hitPoints.value" value="{{data.data.hitPoints.value}}" data-dtype="Number")
          .hit-points-max-col 
            label {{localize "DIS.Max"}}
            input(type="number" class="stat-input" name="data.hitPoints.max" value="{{data.data.hitPoints.max}}" data-dtype="Number")
        .stat-block.portrait-block 
          label {{localize "DIS.Portrait"}}
          br
          .portrait-col 
            .portrait 
              img(class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}")

    div(class="tab situation-tab" data-group="primary" data-tab="situation")
      .situation-wrapper 
        .void-points-block
          .void-col-1 
            .stat-block 
              label 
                | {{localize "DIS.VoidPoints"}}
            .void-points-radios 
              ul.void-points
                each val in [0, 1, 2, 3, 4] 
                  li 
                    label
                      //- deal with Pug checked= not working right with Foundry state
                      | <input type="radio" name="data.voidPoints.value" value=#{val} data-dtype="Number" {{#ifEq data.data.voidPoints.value #{val}}}checked{{/ifEq}}/>
                      span= val
          .void-col-2 
            .void-points-text-top 
              | {{localize "DIS.VoidPointsCanBeUsedTo"}}:
            .void-points-text-bottom 
              ul 
                li {{localize "DIS.VoidPointsUse1"}}.
                li {{localize "DIS.VoidPointsUse2"}}.
        .cosmic-mutations-block
          .stat-block.cosmic-mutations-title 
            label {{localize "DIS.CosmicMutations"}}
            .item-controls
              a(class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="cosmicMutation")
                i.fas.fa-plus
                | {{localize "DIS.Add"}}
          | {{#each data.data.cosmicMutations as |item id|}}
          .cosmic-mutation-row.item(data-item-id="{{item._id}}")            
            .cosmic-mutation-name.item-edit.rollable 
              | {{item.name}}
            .item-controls
              a.item-control.item-edit
                i.fas.fa-edit                          
              a.item-control.item-delete
                i.fas.fa-trash
          | {{/each}}       
        .void-corruption-block 
          .stat-block.void-corruption-title 
            label {{localize "DIS.VoidCorruption"}}
            textarea(name="data.voidCorruption", rows="6") {{data.data.voidCorruption}}
        .life-support-block
          .stat-block.life-support-title 
            label {{localize "DIS.LifeSupport"}}
          .tank-space 
          .oxygen-tank-row 
            .oxygen-numbers 
              div 
                | 0%
              div 
                | 100%
            .oxygen-tank
              .oxygen-increments
                each val in [1, 2, 3, 4, 5, 6, 7]
                  .increment 
                    //- deal with pug checked= not working right with Foundry state
                    | <input type="radio" name="data.lifeSupport.value" value=#{val} data-dtype="Number" {{#ifEq data.data.lifeSupport.value #{val}}}checked{{/ifEq}}/>
          .tank-space

    div(class="tab belongings-tab" data-group="primary" data-tab="belongings")
      .belongings-wrapper 
        .add-row
          a(class="add-belonging" title="Add Belonging")
            i.fas.fa-plus
            | {{localize "DIS.Add"}}

        .equipment 
          .equipment-header
            .equipment-name
              | {{localize "DIS.Equipment"}}
            .equipment-condition 
              | {{localize "DIS.Condition"}}
            .equipment-slots 
              | {{localize "DIS.Slots"}}
            .item-controls 
              | &nbsp;
           
          | {{#each data.data.equipment as |item id|}}
          .equipment-row.item(class="{{item.data.brokenClass}}" data-item-id="{{item._id}}")
            .equipment-name.item-edit.rollable
              | {{add id 1}}. {{item.name}}
            .equipment-condition 
              | {{#if item.data.condition.max}}
              a.item-control.item-condition 
                i.fas.fa-dice-six
              input(type="number" min="0" max="{{ item.data.condition.max}}" step="1" class="inline-edit" data-mod="data.condition.value" name="item.data.condition.value" value="{{item.data.condition.value}}" data-dtype="Number")
              |  / {{ item.data.condition.max}}
              | {{else}}
              | -
              | {{/if}}
            .equipment-slots 
              | {{#if item.data.equippable}}
              | {{#if item.data.equipped}}
              | -
              a.item-control.item-equip.equipped(title="Unequip")
                i.fas.fa-shield-alt
              | {{else}}
              | {{item.data.slots}}
              a.item-control.item-equip.unequipped(title="Equip")
                i.fas.fa-shield-alt
              | {{/if}}
              | {{else}}
              | {{#if item.data.slots}}
              | {{ item.data.slots}}
              | {{else}}
              | -
              | {{/if}}
              | {{/if}}
            .item-controls
              a.item-control.item-edit
                i.fas.fa-edit                          
              a.item-control.item-delete
                i.fas.fa-trash  
          | {{/each}}
        .weapons 
          | {{#each data.data.weapons as |item id|}}
          .weapon-header 
            .weapon-name 
              | {{localize "DIS.Weapon"}} {{add id 1}}
            .weapon-attack 
              | &nbsp;
            .weapon-damage 
              | {{localize "DIS.Damage"}} 
            .weapon-ammo 
              | {{localize "DIS.Ammo"}} 
            .weapon-condition   
              | {{localize "DIS.Condition"}}
            .weapon-slots 
              | {{localize "DIS.Slots"}}
            .item-controls 
              | &nbsp;
          .weapon-row.item(class="{{item.data.brokenClass}}" data-item-id="{{item._id}}") 
            .weapon-name.item-edit.rollable
              | {{item.name}}
            .weapon-attack.rollable 
              | {{localize "DIS.AttackAbbrev"}}
            .weapon-damage.rollable 
              | {{item.data.damage}}
            .weapon-ammo 
              | {{#if item.data.usesBeforeReload.max}}
              input(type="number" min="0" max="{{ item.data.usesBeforeReload.max}}" class="inline-edit" data-mod="data.usesBeforeReload.value" name="item.data.usesBeforeReload.value" value="{{item.data.usesBeforeReload.value}}" data-dtype="Number")
              |  / {{ item.data.usesBeforeReload.max}} 
              | {{else}}
              | -
              | {{/if}}
            .weapon-condition
              | {{#if item.data.condition.max}}
              a.item-control.item-condition 
                i.fas.fa-dice-six
              input(type="number" min="0" max="{{ item.data.condition.max}}" class="inline-edit" data-mod="data.condition.value" name="item.data.condition.value" value="{{item.data.condition.value}}" data-dtype="Number")
              |  / {{ item.data.condition.max}}
              | {{else}}
              | -
              | {{/if}}
            .weapon-slots 
              | {{item.data.slots}}
            .item-controls
              a.item-control.item-edit
                i.fas.fa-edit                          
              a.item-control.item-delete
                i.fas.fa-trash                          
          | {{/each}}
        .armor 
          | {{#each data.data.armor as |item id|}}
          .armor-header 
              .armor-name 
                | {{localize "DIS.ArmorType"}}
              .armor-protects-against 
                | {{localize "DIS.ProtectsAgainst"}}
              .armor-dr-bonus 
                | {{localize "DIS.DRBonus"}}
              .armor-slots 
                | {{localize "DIS.Slots"}}
              .item-controls 
                | &nbsp;                
          .armor-row.item(data-item-id="{{item._id}}")
            .armor-name.item-edit.rollable 
              | {{item.name}}
            .armor-protects-against 
              | {{item.data.protectsAgainst}}
            .armor-dr-bonus 
              | {{item.data.defenseRatingBonus}}
            .armor-slots 
              | {{#if item.data.equippable}}
              | {{#if item.data.equipped}}
              | -
              a.item-control.item-equip.equipped(title="Unequip")
                i.fas.fa-shield-alt
              | {{else}}
              | {{item.data.slots}}
              a.item-control.item-equip.unequipped(title="Equip")
                i.fas.fa-shield-alt
              | {{/if}}
              | {{else}}
              | {{item.data.slots}}
              | {{/if}}
            .item-controls
              a.item-control.item-edit
                i.fas.fa-edit                          
              a.item-control.item-delete
                i.fas.fa-trash  
          | {{/each}}
        .slots-total
          .slots-total-header
            .slots-text 
              | &nbsp;
            .slots-total 
              | {{localize "DIS.Total"}}
            .item-controls
              | &nbsp;
          .slots-total-row
            .slots-text 
              | &#10071; {{localize "DIS.SlotsHelp"}}
            .slots-total 
              | {{data.data.totalSlots}}/{{data.data.maxSlots}}
            .item-controls
              | &nbsp;
        .holo-row 
          .stat-block.holos 
            label {{localize "DIS.Holos"}}
            input(type="number" class="stat-input" name="data.holos" value="{{data.data.holos}}" data-dtype="Number")
          .stat-block.debt 
            label {{localize "DIS.Debt"}}
            input(type="number" class="stat-input" name="data.debt" value="{{data.data.debt}}" data-dtype="Number")
    div(class="tab notes-tab" data-group="primary" data-tab="notes")
      .notes-wrapper 
        | {{editor content=data.data.notes target="data.notes" button=true owner=owner editable=true}}