form(class="{{cssClass}}" autocomplete="off")
  header.sheet-header
    .header-row
      .col1
        .game-title
          |  {{ localize 'DIS.DeathInSpace' }}
        .sheet-title
          | {{ localize 'DIS.CharacterSheetTitle' }}
      .col2
        .section-label 
          | {{ localize 'DIS.Section0Name' }} 
        .character-name
          input(class="character-name" type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'DIS.Name' }}" spellcheck="false")

  nav(class="sheet-tabs tabs" data-group="primary")
    a(class="item" data-tab="personal")
      | 1. {{ localize 'DIS.TabPersonal' }}
    a(class="item" data-tab="situation")
      | 2. {{ localize 'DIS.TabSituation' }}
    a(class="item" data-tab="belongings")
      | 3. {{ localize 'DIS.TabBelongings' }}
    a(class="item" data-tab="notes")
      | 4. {{ localize 'DIS.TabNotes' }}
  
  section.sheet-body 

    div(class="tab personal-tab" data-group="primary" data-tab="personal")
      .personal-wrapper 
        .origin-row.item(data-item-id="{{data.system.origin._id}}") 
          .origin-label {{ localize 'DIS.Origin' }} 
          .origin.item-edit.rollable 
            | {{data.system.origin.name}}
          .item-controls 
            | {{#if data.system.origin}}
            a.item-control.item-edit
              i.fas.fa-edit                          
            a.item-control.item-delete
              i.fas.fa-trash
            | {{else}}
            a(class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="origin")
              i.fas.fa-plus
              | {{localize "DIS.Add"}}              
            | {{/if}}
        .regenerate-block 
          a.regenerate
            | {{ localize 'DIS.Regenerate' }}
        .origin-benefit-block
          .title-row
            label {{ localize 'DIS.OriginBenefits' }}
            .item-controls
              a(class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="originBenefit")
                i.fas.fa-plus
                | {{localize "DIS.Add"}}          
          .origin-benefits 
            | {{#each data.system.originBenefits as |item id|}}
            .origin-benefit-row.item(data-item-id="{{item._id}}")
              .origin-benefit-name.item-edit.rollable
                | {{item.name}}
              .item-controls 
                a.item-control.item-edit
                  i.fas.fa-edit                          
                a.item-control.item-delete
                  i.fas.fa-trash
            | {{/each}}
        .stat-block.xp-block
          label {{localize "DIS.XP"}}
          input(type="number" class="stat-input" name="system.xp.value" value="{{data.system.xp.value}}" data-dtype="Number")
        .stat-block.background-block
          label {{localize "DIS.Background"}}
          input(type="text" class="stat-input" name="system.background" value="{{data.system.background}}" data-dtype="String")
        .stat-block.trait-block
          label {{localize "DIS.Traits"}}
          input(type="text" class="stat-input" name="system.trait" value="{{data.system.trait}}" data-dtype="String")
        .stat-block.past-allegiance-block
          label {{localize "DIS.PastAllegiance"}}
          textarea(name="system.pastAllegiance", rows="4") {{data.system.pastAllegiance}}
        .stat-block.drive-block
          label {{localize "DIS.Drive"}}
          input(type="text" class="stat-input" name="system.drive" value="{{data.system.drive}}" data-dtype="String")
        .stat-block.looks-block
          label {{localize "DIS.Looks"}}
          textarea(name="system.looks", rows="4") {{data.system.looks}}
        .stat-block.ability-block
          label {{localize "DIS.Ability"}}
          br
          .ability-col 
            each val in ["body", "dexterity", "savvy", "tech"]
              .ability-row 
                .ability-name.rollable(data-ability=val)=val.toUpperCase()
                .ability-value 
                  input(type="number" class="stat-input" name="system.abilities." + val + ".value" value="{{data.system.abilities." + val + ".value}}" data-dtype="Number" min="-3" max="6")
        .defense-row 
          .defense-text 
            label {{localize "DIS.DefenseRating"}}
            .help-text
              | {{localize "DIS.DefenseRatingHelp"}}
          .defense-value 
            input(type="number" class="stat-input" name="system.defenseRating" value="{{data.system.defenseRating}}" data-dtype="Number")
        .hit-points-row 
          .hit-points-text 
            label {{localize "DIS.HitPoints"}}
            .help-text
              | {{localize "DIS.HitPointsHelp1"}}
              br
              | {{localize "DIS.HitPointsHelp2"}}
          .hit-points-current-col 
            label {{localize "DIS.Current"}}
            input(type="number" class="stat-input" name="system.hitPoints.value" value="{{data.system.hitPoints.value}}" data-dtype="Number")
          .hit-points-max-col 
            label {{localize "DIS.Max"}}
            input(type="number" class="stat-input" name="system.hitPoints.max" value="{{data.system.hitPoints.max}}" data-dtype="Number")
        .stat-block.portrait-block 
          label {{localize "DIS.Portrait"}}
          br
          .portrait-col 
            .portrait 
              img(class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}")

    div(class="tab situation-tab" data-group="primary" data-tab="situation")
      .situation-wrapper 
        .void-points-block
          .void-col-1 
            .stat-block 
              label 
                | {{localize "DIS.VoidPoints"}}
            .void-points-radios 
              ul.void-points
                each val in [0, 1, 2, 3, 4] 
                  li 
                    label
                      //- deal with Pug checked= not working right with Foundry state
                      | <input type="radio" name="system.voidPoints.value" value=#{val} data-dtype="Number" {{#ifEq data.system.voidPoints.value #{val}}}checked{{/ifEq}}/>
                      span= val
          .void-col-2 
            .void-points-text-top 
              | {{localize "DIS.VoidPointsCanBeUsedTo"}}:
            .void-points-text-bottom 
              ul 
                li {{localize "DIS.VoidPointsUse1"}}.
                li {{localize "DIS.VoidPointsUse2"}}.
        .cosmic-mutations-block
          .stat-block.cosmic-mutations-title 
            label {{localize "DIS.CosmicMutations"}}
            .item-controls
              a(class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="cosmicMutation")
                i.fas.fa-plus
                | {{localize "DIS.Add"}}
          | {{#each data.system.cosmicMutations as |item id|}}
          .cosmic-mutation-row.item(data-item-id="{{item._id}}")            
            .cosmic-mutation-name.item-edit.rollable 
              | {{item.name}}
            .item-controls
              a.item-control.item-edit
                i.fas.fa-edit                          
              a.item-control.item-delete
                i.fas.fa-trash
          | {{/each}}       
        .void-corruption-block 
          .stat-block.void-corruption-title 
            label {{localize "DIS.VoidCorruption"}}
            textarea(name="system.voidCorruption", rows="6") {{data.system.voidCorruption}}
        .life-support-block
          .stat-block.life-support-title 
            label {{localize "DIS.LifeSupport"}}
          .tank-space 
          .oxygen-tank-row 
            .oxygen-numbers 
              div 
                | 0%
              div 
                | 100%
            .oxygen-tank
              .oxygen-increments
                each val in [1, 2, 3, 4, 5, 6, 7]
                  .increment 
                    //- deal with pug checked= not working right with Foundry state
                    | <input type="radio" name="system.lifeSupport.value" value=#{val} data-dtype="Number" {{#ifEq data.system.lifeSupport.value #{val}}}checked{{/ifEq}}/>
          .tank-space

    div(class="tab belongings-tab" data-group="primary" data-tab="belongings")
      include includes/belongings.pug

    div(class="tab notes-tab" data-group="primary" data-tab="notes")
      .notes-wrapper 
        | {{editor data.system.notes target="system.notes" button=true owner=owner editable=true}}