form(class="{{cssClass}}")
  header.sheet-header
    .header-row
      .col1
        .game-title
          | {{ localize 'DIS.DeathInSpace' }}
        .sheet-title
          | {{ localize 'DIS.HubSheetTitle' }}
      .col2
        .section-label 
          | {{ localize 'DIS.Section0Name' }}
        .owner-sig
          input(class="hub-name" type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'DIS.Name' }}" spellcheck="false")

  nav(class="sheet-tabs tabs" data-group="primary")
    a(class="item" data-tab="specifics")
      | 1. {{ localize 'DIS.TabSpecifics' }}
    a(class="item" data-tab="hub-data")
      | 2. {{ localize 'DIS.TabHubData' }}
    a(class="item" data-tab="layout")
      | 3. {{ localize 'DIS.TabLayout' }}
    a(class="item" data-tab="notes")
      | 4. {{ localize 'DIS.TabCargoAndNotes' }}
  
  section.sheet-body 

    div(class="tab specifics-tab" data-group="primary" data-tab="specifics")
      .specifics-wrapper
        .nickname-block 
          .stat-block  
            label {{ localize 'DIS.OwnerName' }}
            input(class="owner-name" name="data.ownerName" type="text" value="{{data.data.ownerName}}" placeholder="{{ localize 'DIS.OwnerName' }}" spellcheck="false")            
        .hub-type-block
          .frame-label
            | FRAME
          .frame-row.item(data-item-id="{{data.data.frame._id}}")  
            .frame-name.item-edit.rollable
              | {{data.data.frame.name}}
            .item-controls 
              | {{#if data.data.frame}}
              a.item-control.item-edit
                i.fas.fa-edit                          
              a.item-control.item-delete
                i.fas.fa-trash
              | {{else}}
              a(class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="frame")
                i.fas.fa-plus
                | {{localize "DIS.Add"}}                 
              | {{/if}}
        .background-block
          .stat-block
            label Background
            textarea(name="data.background", rows="4")
              | {{data.data.background}}
        .appearance-block
          .stat-block
            label Appearance
            textarea(name="data.appearance", rows="4")
              | {{data.data.appearance}}
        .quirks-block
          .stat-block
            label Quirks
            textarea(name="data.quirks", rows="3")
              | {{data.data.quirks}}

    div(class="tab hub-data-tab" data-group="primary" data-tab="hub-data")
      .hub-data-wrapper
        .frame-integrity-row
          .frame-integrity
            | FRAME INTEGRITY
          each val in [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            .integrity-increment
              label
                .integrity-radio
                  //- deal with pug checked= not working right with Foundry state
                  | <input type="radio" name="data.frameIntegrity.value" value=#{val} data-dtype="Number" {{#ifEq data.data.frameIntegrity.value #{val}}}checked{{/ifEq}}/>
                .integrity-percent
                  | #{val}%
          .defense-rating
            .title-row 
              | DEFENSE RATING
            .input-row
              //- input(class="defense-rating" name="data.defenseRating" type="number" value="{{data.data.defenseRating}}" data-dtype="Number")
              input(class="defense-rating" name="data.frame.data.defenseRating" type="number" value="{{data.data.frame.data.defenseRating}}" data-dtype="Number" readonly)
        .roll-on-damage-row 
          .col1
            .arrow-row 
              .arrow1 
                | ↓
              .arrow2
                | ↓ 
            .roll-text-row
              .spacer1
              .condition0
                | CONDITION 0
              .spacer2
              .roll-on-text
                | ROLL ON THE SPACECRAFT
                br
                | DISASTERS TABLE
          .col2
            | WHEN ALL IS CALM THE HUB
            br
            | REGAINS 1D6*10% FRAME INTEGRITY
            br
            | ON A CALM NIGHT UP TO MAXIMUM
        .condition-row 
          .condition
            .label-row
              .col1
                | CONDITION
              .col2 
                | CURRENT
              .col3
                | MAX
            .field-row
              .col1 
                | 
              .col2
                input(class="condition-current" name="data.condition.value" type="number" min="0" value="{{data.data.condition.value}}" data-dtype="Number")
              .col3
                //- input(class="condition-max" name="data.condition.max" type="number" value="{{data.data.condition.max}}" data-dtype="Number")
                input(class="condition-max" name="data.frame.data.condition" type="number" value="{{data.data.frame.data.condition}}" data-dtype="Number" readonly)
          .fuel 
            .label-row
              .col1
                | FUEL
              .col2 
                | CURRENT
              .col3
                | MAX
            .field-row
              .col1 
                | 
              .col2
                input(class="fuel-current" name="data.fuel.value" type="number" min="0" value="{{data.data.fuel.value}}" data-dtype="Number")
              .col3
                //- input(class="fuel-max" name="data.fuel.max" type="number" value="{{data.data.fuel.max}}" data-dtype="Number")
                input(class="fuel-max" name="data.frame.data.fuelDepot" type="number" value="{{data.data.frame.data.fuelDepot}}" data-dtype="Number" readonly)
          .power-source 
            .source-label
              | POWER SOURCE
            .source-row(class="item" data-item-id="{{data.data.powerSystem._id}}")
              .source-name.item-edit.rollable
                | {{data.data.powerSystem.name}} 
                | {{#if data.data.powerSystem.data.speed}}
                | ({{data.data.powerSystem.data.speed}})
                | {{/if}}
              .item-controls 
                | {{#if data.data.powerSystem}}
                a(class="item-control item-edit" title="Edit Item")
                  i(class="fas fa-edit")
                a(class="item-control item-delete" title="Delete Item")
                  i(class="fas fa-trash")
                | {{else}}
                a(class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="powerSystem")
                  i.fas.fa-plus
                  | {{localize "DIS.Add"}}   
                | {{/if}}
          .output-power
            .title-row
              | OUTPUT POWER
            .input-row
              input(class="output-power power" name="data.powerSystem.data.outputPower" type="number" value="{{data.data.powerSystem.data.outputPower}}" data-dtype="Number" readonly)
        .modules-block
          .title-row
            .col1
              | MODULES
            .col2
              a(class="item-control item-create" title="{{localize 'DIS.ItemCreate'}}" data-type="hubModule")
                i.fas.fa-plus
                | {{localize "DIS.Add"}}
            .col3
              | POWER COST
          .modules-list 
            | {{#each data.data.hubModules as |item id|}}
            div(class="item module-item" data-item-id="{{item._id}}")
              .col1.item-edit.rollable
                | {{add @index 1}}. {{item.name}}
              .col2
                a(class="item-control item-edit" title="Edit Item")
                  i(class="fas fa-edit")
                a(class="item-control item-delete" title="Delete Item")
                  i(class="fas fa-trash")
              .col3 
                input(class="hub-module-power-cost power" name="item.powerCost" type="number" value="{{item.data.powerCost}}" data-dtype="Number" readonly=true)
            | {{/each}}
          .modules-total 
            .col1
              | The power cost sum should not
              br
              | exceed the output power.
            .col2
            .col3 
              input(class="total-power-cost power" name="data.totalPowerCost" type="number" value="{{data.data.totalPowerCost}}" data-dtype="Number" readonly=true)

    div(class="tab layout-tab" data-group="primary" data-tab="layout")
      .layout-wrapper
        img(class="layout-image" src="{{actor.img}}" data-edit="img" title="{{actor.name}}")

    div(class="tab notes-tab" data-group="primary" data-tab="notes")
      .notes-wrapper
        | {{editor content=data.data.notes target="data.notes" button=true owner=owner editable="true"}}
