form(class="{{cssClass}}")

  header.sheet-header
    .header-row
      .col1
        .game-title
          |  {{ localize 'DIS.DeathInSpace' }}
        .sheet-title
          | {{ localize 'DIS.NpcSheetTitle' }}
      .col2
        .section-label 
          | {{ localize 'DIS.Section0Name' }} 
        .character-name
          input(class="character-name" type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'DIS.Name' }}" spellcheck="false")

  nav(class="sheet-tabs tabs" data-group="primary")
    a(class="item" data-tab="personal")
      | 1. {{ localize 'DIS.TabPersonal' }}
    a(class="item" data-tab="belongings")
      | 2. {{ localize 'DIS.TabBelongings' }}
    a(class="item" data-tab="notes")
      | 3. {{ localize 'DIS.TabNotes' }}
  
  section.sheet-body 

    div(class="tab personal-tab" data-group="primary" data-tab="personal")
      .personal-wrapper 
        .row1
          .col1 
            .stat-block.ability-block
              label {{localize "DIS.Ability"}}
              br
              .ability-col 
                each val in ["body", "dexterity", "savvy", "tech"]
                  .ability-row 
                    .ability-name.rollable(data-ability=val)=val.toUpperCase()
                    .ability-value 
                      input(type="number" class="stat-input" name="data.abilities." + val + ".value" value="{{data.data.abilities." + val + ".value}}" data-dtype="Number" min="-3" max="6")
                .morale-row
                  .morale-name.rollable
                    | MORALE
                  .morale-value 
                    input(type="number" class="stat-input" name="data.morale" value = "{{data.data.morale}}" data-dtype="Number" min="-1" max="12")

          .col2 
            .defense-row 
              .defense-text 
                label {{localize "DIS.DefenseRating"}}
              .defense-value 
                input(type="number" class="stat-input" name="data.defenseRating" value="{{data.data.defenseRating}}" data-dtype="Number")
            .hit-points-row 
              .hit-points-text 
                label {{localize "DIS.HitPoints"}}
              .hit-points-current-col 
                label {{localize "DIS.Current"}}
                input(type="number" class="stat-input" name="data.hitPoints.value" value="{{data.data.hitPoints.value}}" data-dtype="Number")
              .hit-points-max-col 
                label {{localize "DIS.Max"}}
                input(type="number" class="stat-input" name="data.hitPoints.max" value="{{data.data.hitPoints.max}}" data-dtype="Number")
            .stat-block.special-block 
              label {{localize "DIS.Special"}}
              textarea(name="data.special", rows="7") {{data.data.special}}

          .col3 
            .reaction-block
              a.reaction
                | REACTION
            .stat-block.portrait-block 
              label {{localize "DIS.Portrait"}}
              br
              .portrait-col 
                .portrait 
                  img(class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}")

    div(class="tab belongings-tab" data-group="primary" data-tab="belongings")
      include includes/belongings.pug

    div(class="tab notes-tab" data-group="primary" data-tab="notes")
      .notes-wrapper
        | {{editor content=data.data.notes target="data.notes" button=true owner=owner editable=editable}}
